@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.gradient-text-style {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(to right,
      #0190cd 20%,
      #7953cd 30%,
      #00affa 70%,
      #764ada 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
}